<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="something something" method="post">
    <input name="say" value= "hello">
    <input name="to" value="mom">
    <button>zip zap</button>
  </form>
</body>
</html>
