<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="http://foo.com/greetings" method="post">
    <input name="say" value="Hi">
    <input name="to" value="Mom">
    <button>Send my greetings</button>
  </form>
</body>
</html>
