<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Welcome!</h1>
<p>click below for more blogs</p>
<ul>
  <a href="/posts"><button>New blogs</button></a>
  <a href="/newP"><button>Create a new blog</button></a>
  <!-- {{#each entries}}
  <li><a href="entry/{{id}}">{{title}}</a></li>
  {{/each}} -->
</ul>
</body>
</html>
