<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="../views/text/css" href="style.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title"> -->
</head>
<body>
  <p>Index Page</p>
  {{#each blogsFile}}
   <a href = "./entry/{{id}}"><h2> {{title}} </h2></a>
  {{/each}}
  <a href="./new"> Create a new blog here</a>
</body>
</html>
