<!DOCTYPE html>
<html>
<head>
  <title>Our Blog</title>
  <link rel="stylesheet" type="text/css" href="/style">
</head>
<body>
  <ul>
  {{#each entries}}
<!-- entries is properties of object -->
    <li><a href="entries/{{id}}">{{title}}</a></li>
    {{/each}}
    </ul>
      <a href="new" class="button"><button>New
      entry </button></a>
</body>
</html>
