<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="./create" method="post">
    <input name="title" placeholder="Title">
    <input name="content" placeholder="Content">
    <button>Create new blog</button>
  </form>
</body>
</html>
