<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/style.css" media="screen" title="no title">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title"> -->
</head>
<body>
  <form action="./create" method="post">
    <input name="title" placeholder="Title">
    <input name="date" placeholder="Date">
    <input name="author" placeholder="Author">
    <input name="content" placeholder="Content">
    <button>Create new blog</button>
  </form>
</body>
</html>
